# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
.ipynb_checkpoints/econ-135-s2022-growth-theory-&-jupyter-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-jps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-answers-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps02-checkpoint.ipynb
.ipynb_checkpoints/econ-135-s2022-ps01-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
